body{
        background-image: url(/public/images/rock-paper-scissor-ft.jpg);

    z-index:-1; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
:root{
    --mainColor:#021526
}


.containerBackground{ 
    width:60vw;
    height:90vh;
    padding:1rem;
    z-index: 2;
    background-color:#fff;
    margin:50px 50px 50px 50px;
    border-radius: 25px;
    opacity: 0.8;
    
   
}

.textColor{
    color: var(--mainColor)!important;

}