

.gameOverBack{
    background-image: url(/public/images/rock-paper-scissor-ft.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-5;


}