@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap');


body{
    
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rockBack{
  background-image: url(/public/images/rock-paper-scissor-ft.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-5;

}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 600;
  font-style: normal;
}



